<section id='facets'>
  {% if site.data.facets.users %}
  <h1>Search By User:</h1>
  <fieldset class="usa-fieldset-inputs usa-sans" id="facets-users">

  <legend class="usa-sr-only">User</legend>

  <ul class="usa-unstyled-list">
    {% assign users = site.data.facets.users | split:',' %}
    {% for user in users %} {% assign slug-user = user | downcase | slugify %}
    <li>
      <input id="{{slug-user}}" type="checkbox" name="user" value="{{slug-user}}">
      <label for="{{slug-user}}">{{user}}</label>
    </li>
    {% endfor %}
  </ul>

  </fieldset>
  {% endif %}

  {% if site.data.facets.categories %}
  <h1>Search By Category:</h1>
  <fieldset class="usa-fieldset-inputs usa-sans" id="facets-categories">

  <legend class="usa-sr-only">Category</legend>

  <ul class="usa-unstyled-list">
    {% assign categories = site.data.facets.categories | split:',' %}
    {% for category in categories %} {% assign slug-category = category | downcase | slugify %}
    <li>
      <input id="{{slug-category}}" type="checkbox" name="category" value="{{slug-category}}">
      <label for="{{slug-category}}">{{category}}</label>
    </li>
    {% endfor %}
  </ul>

  </fieldset>
  {% endif %}

</section>
