<footer class="usa-footer usa-footer-slim usa-sans" role="contentinfo">

  <div class="usa-footer-primary-section">
    <div class="usa-grid-full">
      <nav class="usa-footer-nav usa-width-two-thirds">
        <ul class="usa-unstyled-list">
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="http://www.acf.hhs.gov/acyf">Administration on Children, Youth &amp; Families</a>
          </li>
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="http://Childwelfare.gov">Child Welfare Information Gateway</a>
          </li>
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="http://www.acf.hhs.gov/cb">Children's Bureau</a>
          </li>
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="http://www.hhs.gov/">U.S. Department of Health and Human Services</a>
          </li>
        </ul>
      </nav>
      <div class="usa-width-one-third">
        <div class="usa-footer-primary-content usa-footer-contact_info">
          <p>1-800-394-3366</p>
        </div>
        <div class="usa-footer-primary-content usa-footer-contact_info">
          <a href="mailto:info@childwelfare.gov">info@childwelfare.gov</a>
        </div>
      </div>
    </div>
  </div>

  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-footer-logo">
        {% if site.footer.image %}
          <img class="usa-footer-slim-logo-img" src="{{site.footer.image | prepend: site.baseurl }}" alt="Administration for Children and Families Logo">
        {% endif %}
      </div>
    </div>
  </div>
</footer>
