<div class="skip-nav">
  <a href="#main" class="skips">Skip to main content</a>
</div>

<header class="usa-site-header" role="banner">
  <div class="usa-disclaimer">
    <div class="usa-disclaimer-official">
      <img src="{{ '/assets/img/us_flag_40.png' | prepend: site.baseurl }}" alt="U.S. flag">
      <p>An official website of the United States government</p>
    </div>
    <p class="usa-disclaimer-stage">
      This site is currently in alpha.
      <a href="https://18f.gsa.gov/dashboard/stages/#alpha">Learn more.</a>
    </p>
  </div>
  {% unless page.no-header %}
    <div class="usa-navbar site-header-navbar">
      <button class="usa-menu-btn">Menu</button>
      <div class="usa-logo site-logo" id="logo">
        <em class="usa-logo-text">
          <a href="{{ '/' | prepend: site.baseurl }}" accesskey="1" title="Home" aria-label="Home">Child Welfare Product Hub</a>
        </em>
      </div>
      <ul class="usa-button-list usa-unstyled-list">
        <li>
          <a class="usa-button usa-button-outline-inverse js-load-submission" href="/">
            Submit Your Product
          </a>
        </li>
      </ul>
    </div>
  {% endunless %}
</header>
