<div class="skip-nav">
  <a href="#main" class="skips">Skip to main content</a>
</div>

<header class="usa-site-header" role="banner">
  <div class="usa-disclaimer">
    <div class="usa-disclaimer-official">
      <img src="{{ '/assets/img/us_flag_40.png' | prepend: site.baseurl }}" alt="U.S. flag">
      <p>An official website of the United States government</p>
    </div>
    <p class="usa-disclaimer-stage">
      This site is currently in alpha.
      <a href="https://18f.gsa.gov/dashboard/stages/#alpha">Learn more.</a>
    </p>
  </div>

</header>
