<section>
  <div class="modal">
    <div class="close">x</div>
    <h2>Submit a new product</h2>
    <p>Alabama enables residents to register through their online voter registration portal. Click the link below to be redirected to your voter registration website.</p>
    <div class="action">
      <a id="online-voting" class="button state-link" href="https://www.alabamavotes.gov/olvr/default.aspx?ref=voteusa" target="_blank">Register to Vote</a>
    </div>
  </div>
  <div class="overlay">
  </div>
</section>
