.usa-footer {
	margin-top: 5em;
}
.usa-footer-slim-logo-img {
	max-width: 30rem;
	float: none;
}
.hhs-footer-img {
	max-width: 4rem;
	vertical-align: middle;
	float: none;
	margin-right: 1rem;
}
.footer-blog-link {
	display: block;
	margin-top: 0.5em;
}
