.usa-disclaimer-official {
  margin-left: 1.5rem;
}
.usa-disclaimer-stage {
  margin-right: 1.5rem;
}
@media screen and (min-width: 951px) {
  .usa-disclaimer-official {
    margin-left: 3rem;
  }
  .usa-disclaimer-stage {
    margin-right: 3rem;
  }
}
