.hero-unit {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 32em;
  position: relative;
}
.hero-content {
  padding-top: 20px;
  width: 74%;
  margin: 0 auto;
  text-align: center;
}
.hero-content h1 {
  font-size: 5rem;
}
.hero-content h2 {
  font-weight: 500;
}
.hero-content h1, .hero-content h2, .hero-content a {
  color: white;
}
