.hero-unit {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 28em;
  position: relative;
}
.hero-unit .hero-content {
  padding-top: 20px;
  padding-left: 5em;
  padding-right: 5em;
  margin: 0 auto;
  text-align: center;
}
.hero-logo {
  font-size: 5rem;
  margin-top: 1.5em;
}
.hero-content h1 {
  font-size: 5rem;
}
.hero-content h2 {
  font-weight: 300;
  margin-top: .5em;
  font-size: 2.75rem;
}
.hero-content h1, .hero-content h2, .hero-content a {
  color: white;
}
@include media-query($small) {
  .hero-unit .hero-content {
    padding-left: 2em;
    padding-right: 2em;
  }
  .hero-content h2 {
    font-size: 1.75rem;
  }
}
