.product-content h1 {
	font-size: 16px;
}
.product-content h2 {
	font-size: 18px;
}
#product-listings > ul > li {
	list-style-type: none;
	background-color: lightgray;
	margin: 5px;
	display: inline;
	float: left;
	width: 46%;
}
#product-listings img{
	max-height: 150px;
}
@include media-query($small) {
	#product-listings > ul > li {
		float: none;
		display: block;
		width: 100%;
	}
}
