---
layout: base
---

<section>
  <div id="main" tabindex="-1" class="hero-unit" style="background-image: url('{{ page.hero-image | prepend: site.baseurl }}')">
    <div class="usa-grid">
      <div class="usa-width-whole hero-content">
        <h1>{{ page.hero-heading}}</h1>
        <h2>{{ page.hero-text }}</h2>
        <a class="usa-button" href="{{ page.hero-button-link | prepend: site.baseurl }}">{{ page.hero-button-text }}</a>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="usa-grid-full">
    <aside class="usa-width-one-third facets">
       {% include facets.html %}
    </aside>

    <div class="usa-width-two-thirds">
      <section class="product-content">
        <h1>Product Listing</h2>
        <div id="product-listings">
          {{ content }}
        </div>
      </section>
    </div>
  </div>
</section>
