---
layout: base
---

<section>
  <div id="main" tabindex="-1" class="hero-unit" style="background-image: url('{{ page.hero-image | prepend: site.baseurl }}')">
    <div class="usa-grid">
      <div class="usa-width-one-whole hero-content">
        {% if page.hero-logo %}
        <img src="{{ page.hero-logo | prepend: site.baseurl }}" class="hero-logo" alt="{{ page.hero-heading }}" title="{{ page.hero-heading }}">
        {% else %}
        <h1>{{ page.hero-heading}}</h1>
        {% endif %}
        <h2>{{ page.hero-text }}</h2>
        <a class="usa-button js-load-submission" href="#">{{ page.hero-button-text }}</a>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="usa-grid-full">
    <aside class="usa-width-one-third facets">
       {% include facets.html %}
    </aside>

    <div class="usa-width-two-thirds">
      <section class="product-content">
        <h1>Product Listing</h2>
        <div id="product-listings">
          <ul>
            {% for prod in site.html_pages %}{% if prod.layout == 'product' %}
            <li>
              <img src="{{ prod.thumbnail | prepend: site.baseurl }}" alt="{{ prod.title }}" title="Product Thumbnail">
              <h2><a href="{{ prod.url }}" title="Product Page">{{ prod.title }}</a></h2>
              <div class="ellipsis">
                <div>
                  <p>{{ prod.description }}</p>
                </div>
              </div>
              <a class="usa-button product-learn-more" href="{{ prod.url }}">{{ page.product-button-text }}</a>
            </li>
            {% endif %}{% endfor %}
            <li>
              <img src="{{ site.data.submission-listing.image | prepend: site.baseurl }}" alt="{{ site.data.submission-listing.title }}" title="Product Thumbnail">
              <h2>{{ site.data.submission-listing.title }}</h2>
              <div class="ellipsis">
                <div>
                  <p>{{ site.data.submission-listing.description }}</p>
                </div>
              </div>
              <a class="usa-button product-learn-more js-load-submission">{{ site.data.submission-listing.link }}</a>
          </ul>
        </div>
      </section>
    </div>
  </div>
</section>
